
<div class="card hoverable provider-card" (click)="cardClicked()">
  <ul class="reset">
    <li class="flex">
      <div class="text-bold mr-md flex">
        <span class="material-symbols-outlined">badge</span>
      </div>
      <div>{{clientDetails.firstName}} {{clientDetails.lastName}}</div>
    </li>
    <li class="flex">
      <div class="text-bold mr-md flex">
        <span class="material-symbols-outlined">email</span>
      </div>
      <div>{{clientDetails.email}}</div>
    </li>
  </ul>
</div>
