.attachment-container {
  /* width: min(400px, 100%);
  margin-left: auto; */
  &:hover {
    border-radius: 10px;
    cursor: pointer;
  }
}

.gif-message {
  width: 100%;
  height: auto;
}


.download-btn {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  //height: 28px;
  cursor: pointer;
}
