h1, h2, h3, h4, h5 {
  color: #404040;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}
.body2 {
  font-size: 13px;
}
