li.hoverable {
  cursor: pointer;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 4px solid #fff;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }
  &:active {
    background-color: #fff;
  }
}
