.provider-card {
  position: relative;
  li {
    padding: 3px 0;
    div {
      min-height: 30px;
      align-items: center;
      display: flex;
    }
  }

  .work-hours-list {
    width: 100%;
    max-width: 300px;
    li {
      display: flex;
      justify-content: space-between;
      div {
        min-height: 0;
      }
    }
  }
  .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #dadce0;
    background-image: url('../../images/bola_avatar.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 15px;
    top: 15px;
  }

}
