<div class="message-container" [ngClass]="messageType">
  <div class="message-avatar"></div>
  <div class="message-content" #messageContent>
    <div class="message-heading">
      <span class="message-author">John Doe</span>
      <span class="message-date">{{message.createdAt | date:'HH:mm'}}</span>
      @if (message.viewed) {
        <span class="material-symbols-outlined text-primary done-all">done_all</span>
      } @else {
        <span class="material-symbols-outlined text-primary done-all">done</span>
      }
    </div>
    <div class="message-text">
      {{message.message}}
    </div>
  </div>
</div>
