<div class="message-container" [ngClass]="messageType">
  <div class="message-avatar"></div>
  <div class="message-content" #messageContent>
    <div class="message-heading">
      <span class="message-author">
        {{receiver.firstName}} {{receiver.lastName}}
      </span>
      <span class="message-date">{{message.createdAt | date:'HH:mm'}}</span>
      @if (message.viewed) {
        <span class="material-symbols-outlined text-primary done-all">done_all</span>
      } @else {
        <span class="material-symbols-outlined text-primary done-all">done</span>
      }
    </div>
    <div class="message-text" [ngClass]="{'text-bold': !message.viewed && messageType=='in'}">
      <span>{{message.message}}</span>
      @if(message.attachments && message.attachments.length > 0) {
        <div class="mb-sm"></div>
      }
      @for(attachment of message.attachments; track $index){
        <app-attachment [fileProp]="attachment"></app-attachment>
      }
      @if(message.totalUploads && message.totalUploads > 0){
        <div class="flex justify-center items-center py-sm px-xxl">
          <div class="dot-flashing"></div>
        </div>
      }
    </div>
  </div>
</div>
