<div class="message-container " [ngClass]="[messageType, highlight]">
  <div class="message-avatar"></div>
  <div class="message-content" #messageContent>
    <div class="message-heading">
      <span class="message-author">
        {{receiver?.firstName}} {{receiver?.lastName}}
      </span>
      <span class="message-date">{{message.createdAt | date:'HH:mm'}}</span>
      @if (message.viewed) {
        <span class="material-symbols-outlined text-primary done-all">done_all</span>
      } @else {
        <span class="material-symbols-outlined text-primary done-all">done</span>
      }
    </div>
    <div class="message-text show-on-hover-parent" [ngClass]="{'text-bold': !message.viewed && messageType=='in'}">
      @if(message.replyToMessage!.replyToMessageId){
        <div class="reply-to-details" (click)="goToMessage()">
          <div class="truncated text-primary">{{receiver?.firstName}} {{receiver?.lastName}}</div>
          <div class="truncated">{{message.replyToMessage!.replyToMessage}}</div>
        </div>
      }
      <span>{{message.message}}</span>
      @if(message.attachments && message.attachments.length > 0) {
        <div class="mb-sm"></div>
      }
      @for(attachment of message.attachments; track $index){
        <app-attachment [fileProp]="attachment" (onAttachmentClickEmit)="onAttachmentClick($event)"></app-attachment>
      }
      @if(message.totalUploads && message.totalUploads > 0 && messageType=='out'){
        <div class="flex justify-center items-center py-sm px-xxl">
          <div class="dot-flashing"></div>
        </div>
      }
      <app-float-menu-horizontal [menuItems]="menuItems" (menuActionEmit)="menuActionHandle($event)"></app-float-menu-horizontal>
    </div>
  </div>
</div>
