<ul class="nav-links">
  @if (loggedIn()) {
    @for (item of loggedInMenuItems; track $index) {
      <li>
        <a [routerLink]="item.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
      </li>
    }
    <span class="pa-md"></span>
    <li>
      <a (click)="logout()">Logout</a>
    </li>
  } @else {
    @for (item of menuItems; track $index) {
      <li>
        <a [routerLink]="item.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
      </li>
    }
    <span class="pa-md"></span>
    @for (item of authMenuItems; track $index) {
      <li>
        <a [routerLink]="item.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
      </li>
    }
  }
</ul>
