<div class="container container-md" #messageContainer>
  <div class="flex items-center">
    <app-back-button></app-back-button>
    <h3 class="ml-auto">{{subject.title}}</h3>
  </div>
  <div class="message-container" [ngClass]="{'new-message': containerBorder}">
    <div class="card pa-xl">
      @for (message of messages(); track message.messageId; let index = $index) {
        <app-message [userId]="user.user?.userId" [message$]="message" [receiver]="receiver" (onMessageIntersect)="onMessageIntersect($event)"></app-message>
        @if(displayDate(index, message.createdAt)){
          <div class="date-separator">{{message.createdAt | date: 'dd/MM/YYYY,  EEEE'}}</div>
        }
      }
    </div>
    <app-message-toolbar [receiverId]="receiver.receiverId"></app-message-toolbar>
  </div>
</div>
