<div class="card provider-card">
  <ul class="reset">
    <li class="flex no-wrap">
      <div class="text-bold mr-md flex">
        <div class="user-avatar"></div>
      </div>
      <div>
        <ul class="reset">
          <div>{{clientDetails.firstName}}</div>
          <div>{{clientDetails.lastName}}</div>
        </ul>
      </div>
    </li>
    <li class="flex no-wrap">
      <div class="text-bold mr-md flex">
        <span class="material-symbols-outlined">email</span>
      </div>
      <div>{{clientDetails.email}}</div>
    </li>
  </ul>
</div>
