<div class="container container-md">
  <app-back-button></app-back-button>
  <div class="flex column gap-xl">
    <app-provider-details [provider]="providerDetails" [providerProfile]="providerProfileDetails"></app-provider-details>

    <button (click)="startSession()" class="ml-auto">Start session</button>

    <app-subject-list [subjectList]="subjectList"></app-subject-list>
  </div>
</div>
<app-modal [(modal)]="toggleModal">
  <app-new-subject [subjectDetails]="subjectDetails" (cancel)="cancel()" (setSubjectId)="setSubjectId($event)" [toggleModal]="toggleModal"></app-new-subject>
</app-modal>
