ul {
  list-style: none;
  li {
    display: inline;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    a {
      text-decoration: none;
      display: inline-block;
      color: var(--primary);
      height: 38px;
      padding: 10px 20px;
      border-radius: 8px;
      &.active-link {
        font-weight: bold;
        /* text-decoration: underline;
        color: var(--primary-hover);
        text-underline-offset: 3px; */
        outline: 1px solid var(--primary-hover);
      }
      &:hover {
        cursor: pointer;
        background-color: var(--grey-lightest);
      }
    }
  }
}
