<ul class="nav-links">
  @if (loggedIn()) {
    <li tabindex="0">
      <span class="user-link">Hello John </span>
      <span class="material-symbols-outlined">
        expand_more
        </span>
      <app-header-user-drop-menu></app-header-user-drop-menu>
    </li>
  } @else {
    @for (item of loggedOutMenuItems; track $index) {
      <li>
        <a [routerLink]="item.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
      </li>
    }
  }
</ul>
